.button {
    background-color: #ffffff; /* Green */
    border: 1px solid grey;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 20px 3px;
    cursor: pointer;
    position: relative;
    top: 10px;
    right: 5px;
  }
  .button:hover {
    background-color: grey;
    color: white;
  }
  
  .button5 {
    border-radius: 60%;
    color: black;
}